
.content{
/*this is the rule for whole content part*/
  height:700px;
  margin: 50px 0;

}
.content h1{
  /*this rule is for the h1 part of content */
  text-align: center;
  text-shadow: 2px 2px 1px #333366;
}
.img1 img{
  /*this img1 img rules gives properties about images*/
  padding: 0 6px;
  float: right;
  border-radius: 8px;
  width:400px;
  height:600px;
}
.content  p{
  /*these rules are for the  properties of content paragraph */
 line-height: 1.5em;
 text-align: left;
 font-size: 1.8em;
 font-family: 'Just Another Hand', cursive;
}
