body{
  background-image: url(../images/ub1.jpg);
  background-size: cover;
  line-height: 1.2em;
  margin: 0;
}
.page{ margin: 20px;
}
header{
  border: 0.5px black solid;
  display: flex;
  flex-direction: row;
 }

.nav ul{

  display: flex;
  flex-direction: row;

  margin:0;
  padding:10px;


}
.nav{
  padding: 1%;
  margin-left:20%;

}
.nav ul li{
  background-color: #333366;
  display:flex;
  flex-direction: row;
  padding:30px;
  text-align: center;
  border-radius: 20px;
  margin-right: 50%;
  text-decoration: none;
}
.nav ul li:hover{
  background-color:#2a5cf7;
}
.nav ul li a{
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content:space-around;
  color:white;
}

.content h1{
  text-align: left;
  
  text-shadow: 2px 2px 1px #333366;
}
.content p{
  font-size: 120%;
  
  font-family: monospace;
  text-shadow:  2px 2px 1px #333366;

}
.footer{
  
  margin-bottom: 10px ;
  padding:10px;
}
footer h3{
  text-decoration: underline;
  text-shadow: 2px 2px 1px #333366;
}

.footerbox {
  padding: 10px;
  text-align: left;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  
}

.footerbox a{
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.footerbox a img{
  width:30px;
  height:30px;

}
.footerbox a img:hover{
  transform: scale(1.5,1.5);
  opacity: .6
}
.footer p{
  text-shadow: 2px 2px 1px #333366;
  padding: 2px;
	text-align: center;
	font-size: 130%;
	color: black;
}
