
.content h1{
  /*this rule is for the h1 part of content */
  text-align: left;
  text-shadow: 2px 2px 1px #333366;
}
.content p{
  /*these rules are for the  properties of content paragraph */
  font-size: 120%;
  font-family: monospace;
  text-shadow:  2px 2px 1px #333366;

}
