
.content1{
  /*these rules are for the  properties content */
  font-family:'Leckerli One', cursive;
  text-align: center;
}
.content1 h2{
  /*this rule is for the h2 part of content1 */
  text-decoration: underline;
}
.content h1{
  /*this rule is for the h1 part of content */
  text-align: center;
  text-shadow:  2px 2px 1px #333366;

}
.content img{
/*this content img rules gives properties about images*/
  text-align: center;
  width:200px;
  height:200px;
  border-radius: 100%;
}
.flex-container{
  /*this describes the properties about flexxontainer div*/
  display: flex;
  margin: 10px;
  height: 400px;
  width: auto;

}

.flex-item{
  /*this is the properties for flex items*/
  margin: 10px;
  height:100px;
  width:auto;
}
