/*<!--Upendra Bagale
  UN ID -16418515-->*/
.content1{
  /*this is the property of content1 section*/
  font-family:'Leckerli One', cursive;
  text-align: center;
}
.content1 h2{
  /*this rule is for the h2 part of content1 */
  text-decoration: underline;
}
.content h1{
  /*this rule is for the h1 part of content */
  text-align: center;
  text-shadow:  2px 2px 1px #333366;

}
.content1 img{
/*this content img rules gives properties about images*/
  text-align: center;
  width:200px;
  height:200px;
  border-radius: 100%;
}

.flex-container{
  /*this describes the properties about flexxontainer div*/
  display: flex;
  margin: 10px;
  height: 500px;
}

@media (max-width:1000px){
  /*this explains about responsive properties for mobiles tablets*/
  .flex-container{
  flex-direction: column;
  height:1000px;
  }
}

.flex-item{
  /*this is the properties for flex items*/
  border: 1px solid black;
  height: 350px;
}
