body{
  /*these are the properties for body tag*/
  background-image: linear-gradient(#43C6AC ,#191654 );
  line-height: 1.2em;
  margin: 0;
}
.page{
  /*this is the property for whole page*/
  margin: 20px;
}

.nav ul{
  /*these rules describes the prpperties of navigation bar*/
  display: flex;
  flex-direction: row;
  margin:10px;
  margin-left:20%;
  margin-right:20%;
  justify-content: space-between;

}

.nav ul li{
  /*these rules gives properties of listed nav items*/
  /*background-color: #333366;*/
  display:flex;
  display:block;
  flex-direction: row;
  border-radius: 20px;
  margin-right: 20%;
  text-decoration: none;
}
.nav ul li:hover{
  /*this rule explains about after pointed display*/
  text-shadow:  2px 2px 1px #333366;

}
.nav ul li a{
  /*these rules gives properties for links items on nav*/
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content:space-around;
  color: #333366 ;
  font-family: 'Russo One', sans-serif;
  margin:5px 10px 5px 10px;
  font-size:1.5em;
}

footer{
  /*this is style property for footer part*/

  padding:10px;

}

.footerbox{
  /*footerbox icons are given diffrent styles through this rule*/
  text-align: center;
}

.footerbox a{
  /*this is properties for link of those icons on footerbox*/
  padding-right:5px;
  text-decoration:none;

}

.footerbox a img{
  /*this properties are for img of those linked icons*/
  width:30px;
  height:30px;

}
.footerbox a img:hover{
  /*this properties are for after pointed effect on img of icons*/
  transform: scale(1.5,1.5);
  opacity: 0.6
}
footer p{
  /*these rules are for the paragraph of footer*/
  text-shadow: 2px 2px 1px #333366;
  padding: 2px;
	text-align: center;
	font-size: 1.2em;
	color: black;
  font-family: 'Satisfy', cursive;
}

@media all and (max-width:1000px){
  /*this is for making nav responsive on any media*/
  .nav ul{
    flex-direction: column;
  }
  footer{
    flex-direction: row-reverse;
  }
}
